.main__nosotros{
    padding: 50px;
    justify-content: space-between;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns:repeat(2,1fr);
    grid-template-rows: repeat(1, auto);
    }




